* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    background-image: url('https://source.unsplash.com/random/1600x900?landscape,nature,water,sun,humadity,sunny,rain()');
    font-size: 100%;
}

.container {
    /* background: black; */
    /* opacity: 0.7; */
    background: #000000d0;
    color: white;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 432px;
    margin: 1em;
    font-weight: 100;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;

}

button {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 46px;
    width: 46px;
    background-color: rgba(255, 255, 255, 0.158);
    color: white;
    outline: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

button:hover{
    background: #7c7c7ce4;
}

.flex{
    display: flex;
    align-items: center;
}
.description{
    text-transform: capitalize;
    margin-left: 8px;
}
.search-bar {
    border: none;
    outline: none;
    padding: 0.75em 1em;
    border-radius: 22px;
    background-color: rgba(255, 255, 255, 0.158);
    color: white;
    font-weight: 500;
    font-family: inherit;
    font-size: 100% ;
    width: calc(100% - 100px);
  }

.weather.loading{
    visibility: hidden;
    max-height: 20px;
    position: relative;
}
.weather.loading:after{
visibility: visible;
content: "Loading...";
color: white;
position: absolute;
top: 0;
left: 20px;
}



@media (max-width: 600px)
{
    .container{
        padding: 20px;
        height: auto;
        width: 300px;
    }
    .display-time{
        /* padding: 10px 20px; */
        font-size: 12px;
    }
    .search-bar{
        height: 5px;
        width: auto;
    }
    /* .search button{
        height: 5px;
        width: 5px;
    } */
    h2.city{
        font-size: 15px;
        
    }
    h1.temp{
        font-size: 15px;
    }
    .flex{
        font-size: 15px;
        max-height: 20px;
        margin: 5px;
    }
    .feels_like{
        font-size: 15px;
    }
    .humidity {
        font-size: 15px;
    }
    .wind{
        font-size: 15px;
    }
}

/* .container .display-time {
    font-weight: 900;
} */

/* .display-time {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background: #222;
    border-radius: 30px;
    width: 100%;
    max-width: 605px;
    margin: 1em;
    height: 100%;
  } */